/* Mininav.module.css */
.mininav_container {
display: none;
  }

  
  @media (max-width: 568px) {
    .mininav_container {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #28a745; /* Green color for a premium look */
        padding: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 1000; /* Ensure it stays above other content */
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
      }
  }
